<ion-content padding>

  <!-- CAMBIAR CONTRASEÑA -->
  <div class="menu_1" *ngIf="cambiarClave">
    <form [formGroup]="registroForm" novalidate class="top-1">
      <ion-row>
        <ion-col>
          <!-- Contraseña -->
          <ion-item>
            <ion-input formControlName="userClave" id="inputClave" type="password" [placeholder]="idioma.pag_clave.placeholder.pass1"></ion-input>
            <ion-icon *ngIf="registroForm.get('userClave').dirty && registroForm.get('userClave').hasError('required')" color="danger" name="alert" item-right>
            </ion-icon>
          </ion-item>
          <ion-item *ngIf="registroForm.get('userClave').dirty && registroForm.get('userClave').hasError('required') ||
                           registroForm.get('userClave').dirty && registroForm.get('userClave').hasError('minlength')" class="alerta_form">
            <p color="danger" ion-text *ngIf="registroForm.get('userClave').hasError('required')">{{idioma.pag_clave.error.required}}</p>
          </ion-item>
          <!-- Nueva Contraseña -->
          <ion-item>
            <ion-input formControlName="userClave1" id="inputClave1" type="password" [placeholder]="idioma.pag_clave.placeholder.pass2"></ion-input>
            <ion-icon *ngIf="registroForm.get('userClave1').dirty && registroForm.get('userClave1').hasError('required') ||
                             registroForm.get('userClave1').dirty && registroForm.get('userClave1').hasError('minlength')" color="danger" name="alert" item-right>
            </ion-icon>
          </ion-item>
          <ion-item *ngIf="registroForm.get('userClave1').dirty && registroForm.get('userClave1').hasError('required') ||
                           registroForm.get('userClave1').dirty && registroForm.get('userClave1').hasError('minlength')" class="alerta_form">
            <p color="danger" ion-text *ngIf="registroForm.get('userClave1').hasError('required')">{{idioma.pag_clave.error.required}}</p>
            <p color="danger" ion-text *ngIf="registroForm.get('userClave1').hasError('minlength') && !registroForm.get('userClave1').hasError('required')">{{idioma.pag_clave.error.pass_1}}</p>
          </ion-item>
          <!-- Repetir Contraseña -->
          <ion-item>
            <ion-input formControlName="userClave2" id="inputClave2" type="password" [placeholder]="idioma.pag_clave.placeholder.pass3"></ion-input>
            <ion-icon *ngIf="registroForm.get('userClave2').dirty && registroForm.get('userClave2').hasError('required') ||
                             registroForm.get('userClave2').dirty && registroForm.get('userClave2').hasError('minlength') ||
                             registroForm.get('userClave2').dirty && registroForm.value.userClave1 != registroForm.value.userClave2" color="danger" name="alert" item-right>
            </ion-icon>
          </ion-item>
          <ion-item *ngIf="registroForm.get('userClave2').dirty && registroForm.get('userClave2').hasError('required') ||
                           registroForm.get('userClave2').dirty && registroForm.get('userClave2').hasError('minlength') ||
                           registroForm.get('userClave2').dirty && registroForm.value.userClave1 != registroForm.value.userClave2" class="alerta_form">
            <p color="danger" ion-text *ngIf="registroForm.get('userClave2').hasError('required')">{{idioma.pag_clave.error.required}}</p>
            <p color="danger" ion-text *ngIf="registroForm.get('userClave2').hasError('minlength') && !registroForm.get('userClave2').hasError('required')">{{idioma.pag_clave.error.pass_1}}</p>
            <p color="danger" ion-text *ngIf="registroForm.value.userClave1 != registroForm.value.userClave2 &&
                                              !registroForm.get('userClave2').hasError('minlength') &&
                                              !registroForm.get('userClave2').hasError('required')">{{idioma.pag_clave.error.pass_2}}</p>
          </ion-item>
          <!-- SUBMIT -->
          <button ion-button color="register" icon-left block
                  (click)="volver()" [disabled]="registroForm.invalid || registroForm.value.userClave1 != registroForm.value.userClave2">
            <ion-icon name="md-contact"></ion-icon>
            {{idioma.pag_clave.button}}
          </button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <!-- INSERTAR CONTRASEÑA -->
  <div class="menu_2" *ngIf="insertarClave">
    <!-- Contraseña -->
    <ion-item>
      <ion-input id="inputClave" type="password" placeholder="Contraseña" [(ngModel)]="credentials"></ion-input>
    </ion-item>
    <!-- SUBMIT -->
    <button ion-button color="register" icon-left block
            (click)="volver()" [disabled]="credentials == ''">
      <ion-icon name="md-contact"></ion-icon>
      Aceptar
    </button>
  </div>
</ion-content>
