<ion-content padding class="masters">

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>
  <!-- CONTENIDO -->
  <div *ngIf="!mostrarSpinner">
    <ion-fab middle center>
       <button ion-fab block (click)="comenzarActividad()" [disabled]="asignado" color="signin">
         <ion-icon class="car_icon" md="md-car"></ion-icon>
       </button>
    </ion-fab>


    <ion-slides>
      <ion-slide>
        <img src="assets/imgs/inicio_chofer.gif"/>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>
