.masters {
  background-color: black;
}
page-chofer-inicio{

  .car_icon{
    font-size: 40px;
  }

  .scroll-content {
    background-color: black;
    background-image: none;
  }
}
// .heade {
//   background-color: #505050;
// }
