<ion-content padding>

<ion-item>
  <ion-label text-center><strong>{{idioma.pag_lista_viajes_chofer.titulo}}</strong></ion-label>
</ion-item>

<!-- SPINNER -->
<div *ngIf="mostrarSpinner" class="spinner">
  <img src="assets/imgs/spinner_black.png" alt="spinner">
</div>
<!-- CONTENIDO -->
<div *ngIf="!mostrarSpinner">
  <ion-list>
    <ion-item ion-item *ngFor="let viaje of viajes" (click)="viajeSeleccionado(viaje)">
    	<ion-avatar item-start>
        <img src="http://pngimg.com/uploads/gps/gps_PNG8.png">
      </ion-avatar>
      <h2>{{idioma.pag_lista_viajes_chofer.label.fecha}} {{ viaje.fecha }} {{idioma.pag_lista_viajes_chofer.label.hora}} {{ viaje.hora }}</h2>
      <h3>{{idioma.pag_lista_viajes_chofer.label.desde}} {{ viaje.origen }}</h3>
      <h3>{{idioma.pag_lista_viajes_chofer.label.hasta}} {{ viaje.destino }}</h3>
    </ion-item>
  </ion-list>
  <!-- ENCUESTA -->
  <ion-fab right bottom>
      <button ion-fab color="green" (click)="encuestaChofer()">
          <ion-icon class="iconTravel" name="md-list-box"></ion-icon>
      </button>
  </ion-fab>
  <!-- LIBERAR VEHICULO -->
  <ion-fab left bottom>
      <button ion-fab color="danger" (click)="liberarVehiculo()">
          <ion-icon class="iconTravel" name="md-car"></ion-icon>
      </button>
  </ion-fab>

</div>

</ion-content>
