<ion-content padding>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

  <!-- CONTENIDO -->
  <div *ngIf="!mostrarSpinner">
      <ion-item>
        <ion-label text-center><strong>{{idioma.pag_viaje_chofer.titulo}}</strong></ion-label>
      </ion-item>

  		<ion-item>
  			<ion-label stacked color="primary">{{idioma.pag_viaje_chofer.label.direccion}}</ion-label>
  			<ion-input [disabled]="true" type="text" value="{{ viaje.origen }}"></ion-input>
  		</ion-item>

  		<ion-item>
  			<ion-label stacked color="primary">{{idioma.pag_viaje_chofer.label.destino}}</ion-label>
  			<ion-input [disabled]="true" type="text" value="{{ viaje.destino }}"></ion-input>
  		</ion-item>

  		<ion-item>
  			<ion-label stacked color="primary">{{idioma.pag_viaje_chofer.label.hora}}</ion-label>
  			<ion-input [disabled]="true" type="text" value="{{ viaje.hora }}"></ion-input>
  		</ion-item>
  		<ion-item>
  			<ion-label stacked color="primary">{{idioma.pag_viaje_chofer.label.precio}}</ion-label>
  			<ion-input [disabled]="true" type="text" value="{{idioma.moneda_simbolo}} {{viaje.precio }}"></ion-input>
  		</ion-item>

  	  <button ion-button block icon-end color="danger" (click)="modificarEstado('pendiente')">{{idioma.pag_viaje_chofer.button.b_1}}</button>
  	  <button ion-button block icon-end color="primary" (click)="modificarEstado('en curso')">{{idioma.pag_viaje_chofer.button.b_2}}</button>
  	  <button ion-button block icon-end color="secondary" (click)="modificarEstado('cumplido')">{{idioma.pag_viaje_chofer.button.b_3}}</button>

      <!-- ENCUESTA -->
      <ion-fab right bottom>
          <button ion-fab color="green" (click)="encuestaChofer()">
              <ion-icon class="iconTravel" name="md-list-box"></ion-icon>
          </button>
      </ion-fab>
  </div>
</ion-content>
