
<ion-content padding>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>
  <!-- MENSAJE FINAL -->
  <div class="msj_box" *ngIf="!mostrarSpinner && mostrarMsj">
    <ion-label class="msj_final">
      <strong>FIN DEL RECORRIDO</strong>
      <br>¡Gracias por elegirnos!
    </ion-label>
    <img src="assets/imgs/fin_recorrido.png">
  </div>
  <!-- VER BOTON QR -->
  <ion-fab *ngIf="boton_qr" right top>
      <button ion-fab color="yellow" (click)="direccionar()">
          <ion-icon class="iconTravel" name="md-qr-scanner"></ion-icon>
      </button>
  </ion-fab>

  <div *ngIf="!mostrarSpinner && !mostrarMsj">

  <!-- DATOS DEL VIAJE -->
    <ion-grid class="datosViaje">

      <!-- DIRECCION ORIGEN-->
      <ion-item class="input_direccion">
        <ion-label stacked>Origen</ion-label>
        <ion-avatar item-start>
          <img src="assets/imgs/marker1.png">
        </ion-avatar>
        <!-- <ion-icon name="ios-flag-outline" color="primary" item-start></ion-icon> -->
        <ion-input type="text" required [(ngModel)]="viaje.origen"
                  (ionFocus)="verMapa(1)"></ion-input>
      </ion-item>

      <!-- DIRECCION DESTINO-->
      <ion-item class="input_direccion">
        <ion-label stacked>Destino</ion-label>
        <ion-avatar item-start>
          <img src="assets/imgs/marker2.png">
        </ion-avatar>
        <!-- <ion-icon name="md-flag" color="primary" item-start></ion-icon> -->
        <ion-input type="text" required [(ngModel)]="viaje.destino"
                  (ionFocus)="verMapa(2)"></ion-input>
      </ion-item>

      <!-- HORARIO DE SALIDA -->


      <!-- DISTANCIA / PRECIO -->
      <div *ngIf="viaje.distancia != 0 && viaje.precio != 0">
        <p class="text_precio" text-center>
          <ion-icon name="radio-button-on" color="primary" item-start></ion-icon>
          {{viaje.distancia}}KM = ${{viaje.precio}}
        </p>
      </div>

    </ion-grid>

  </div>

  <!-- MAPA -->
   <div *ngIf="!mostrarSpinner" xFlex="100" class="map-full-card-content">
      <agm-map *ngIf="mostrarMapa"
               [latitude]="markers[0].lat"
               [longitude]="markers[0].lng"
               [zoom]="12"
               [disableDefaultUI]="true"
               [streetViewControl]="false">

               <agm-marker
                 *ngFor="let m of markers; let i = index"
                 [latitude]="m.lat"
                 [longitude]="m.lng"
                 [iconUrl]="m.icon"
                 [markerDraggable]="m.draggable"
                 (dragEnd)="markerMovido(m, $event)">
               </agm-marker>
               <agm-polyline
               [visible]="true"
               [strokeWeight]="3">
                  <agm-polyline-point
                    *ngFor="let m of markers; let i = index"
                    [latitude]="m.lat"
                    [longitude]="m.lng">
                  </agm-polyline-point>
               </agm-polyline>

      </agm-map>
    </div>

  <!-- PEDIR VIAJE -->
  <ion-fab *ngIf="boton_pedir && mostrarMapa" right bottom>
      <button ion-fab color="green" (click)="pedir_viaje()">
          <ion-icon class="iconTravel" name="md-car"></ion-icon>
      </button>
  </ion-fab>

  <!-- CANCELAR PEDIDO -->
  <ion-fab *ngIf="boton_cancelar && mostrarMapa" right bottom>
      <button ion-fab color="danger" (click)="cancelar_viaje()">
          <ion-icon class="iconTravel" name="md-car"></ion-icon>
      </button>
  </ion-fab>

</ion-content>
