
<ion-header>

  <ion-navbar transparent>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!mostrarSpinner">

  <!-- DATOS DEL VIAJE -->
    <ion-grid class="datosViaje">

      <!-- DIRECCION ORIGEN-->
      <ion-item>
        <ion-label stacked>Origen</ion-label>
        <ion-icon name="ios-flag-outline" color="primary" item-start></ion-icon>
        <ion-input type="text" required [(ngModel)]="viaje.origen"
                  (ionFocus)="verMapa(1)"></ion-input>
      </ion-item>

      <!-- DIRECCION DESTINO-->
      <ion-item>
        <ion-label stacked>Destino</ion-label>
        <ion-icon name="md-flag" color="primary" item-start></ion-icon>
        <ion-input type="text" required [(ngModel)]="viaje.destino"
                  (ionFocus)="verMapa(2)"></ion-input>
      </ion-item>

      <!-- DISTANCIA / PRECIO -->
      <div *ngIf="viaje.distancia != 0 && viaje.precio != 0">
        <p class="text_precio" text-center>
          <ion-icon name="radio-button-on" color="primary" item-start></ion-icon>
          {{viaje.distancia}}KM = ${{viaje.precio}}
        </p>
      </div>

    </ion-grid>

  </div>

  <!-- MAPA -->
  <agm-map *ngIf="mostrarMapa"
           [latitude]="markers[0].lat"
           [longitude]="markers[0].lng"
           [zoom]="12"
           [disableDefaultUI]="true"
           [streetViewControl]="false"
           (mapClick)="marcarUbicacion($event)">

           <agm-marker
             *ngFor="let m of markers; let i = index"
             [latitude]="m.lat"
             [longitude]="m.lng"
             [iconUrl]="m.icon"
             [markerDraggable]="m.draggable"
             (dragEnd)="markerMovido(m, $event)">
           </agm-marker>
           <agm-polyline
           [visible]="true"
           [strokeWeight]="3">
              <agm-polyline-point
                *ngFor="let m of markers; let i = index"
                [latitude]="m.lat"
                [longitude]="m.lng">
              </agm-polyline-point>
           </agm-polyline>

  </agm-map>

  <!-- PEDIR VIAJE -->
  <ion-fab *ngIf="mostrarMapa" right bottom>
      <button ion-fab color="green" (click)="pedir_viaje()">
          <ion-icon class="iconTravel" name="md-car"></ion-icon>
      </button>
  </ion-fab>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

</ion-content>
