
<ion-content padding>
  <!-- MENSAJE INTERMEDIO -->
  <div *ngIf="mostrarMsjMedio">
    <ion-item no-lines class="msj_intermedio">
      <ion-avatar item-start>
        <img src="assets/imgs/auto_viaje_on.png">
      </ion-avatar>
      <ion-label class="msj_size_2">
            <strong>{{idioma.pag_viaje_cliente.estados.titulo}}</strong><br>{{msj_estado}}
      </ion-label>
    </ion-item>
  </div>
  <!-- MENSAJE FIN DEL VIAJE -->
  <div class="msj_box" *ngIf="!mostrarSpinner && mostrarMsjFinal">
    <ion-label class="msj_size_1">
      <strong>{{idioma.pag_viaje_cliente.msj_final.titulo}}</strong>
      <br>{{idioma.pag_viaje_cliente.msj_final.subtitulo}}
    </ion-label>
    <ion-label class="msj_size_2">
      <br><br><strong>{{idioma.pag_viaje_cliente.msj_final.texto_1}}</strong><br> {{idioma.pag_viaje_cliente.msj_final.texto_2}}
    </ion-label>
    <!-- BOTON ENCUESTA -->
    <button ion-button color="primary" (click)="ir_encuesta()">
        <ion-icon class="iconPoll" name="ios-list-box-outline"></ion-icon>
    </button>
    <img src="assets/imgs/fin_recorrido.png">
  </div>

  <!-- BOTON QR -->
  <ion-fab *ngIf="boton_qr" right top>
      <button ion-fab color="yellow" (click)="direccionar()">
          <ion-icon class="iconTravel" name="md-qr-scanner"></ion-icon>
      </button>
  </ion-fab>

  <div *ngIf="!mostrarSpinner && !mostrarMsjFinal">

  <!-- DATOS DEL VIAJE -->
    <ion-grid class="datosViaje">

      <!-- DIRECCION ORIGEN-->
      <ion-item class="input_direccion">
        <ion-label stacked>{{idioma.pag_viaje_cliente.label.origen}}</ion-label>
        <ion-avatar item-start>
          <img src="assets/imgs/marker1.png">
        </ion-avatar>
        <!-- <ion-icon name="ios-flag-outline" color="primary" item-start></ion-icon> -->
        <ion-input type="text" required [(ngModel)]="viaje.origen"
                  (ionFocus)="verMapa(1)"></ion-input>
      </ion-item>

      <!-- DIRECCION DESTINO-->
      <ion-item class="input_direccion">
        <ion-label stacked>{{idioma.pag_viaje_cliente.label.destino}}</ion-label>
        <ion-avatar item-start>
          <img src="assets/imgs/marker2.png">
        </ion-avatar>
        <!-- <ion-icon name="md-flag" color="primary" item-start></ion-icon> -->
        <ion-input type="text" required [(ngModel)]="viaje.destino"
                  (ionFocus)="verMapa(2)"></ion-input>
      </ion-item>

      <!-- HORARIO DE SALIDA -->
      <ion-item class="input_direccion">
        <ion-label>{{idioma.pag_viaje_cliente.label.hora}}</ion-label>
        <ion-avatar item-start>
          <img src="assets/imgs/clock.png">
        </ion-avatar>
        <ion-datetime id="hora" name="hora" [(ngModel)]="viaje.hora" [min]="hora"
                      [doneText]="idioma.pag_viaje_cliente.label.button_ok" cancelText="" displayFormat="HH:mm" pickerFormat="HH:mm"
          required></ion-datetime>
      </ion-item>
    </ion-grid>

  </div>
  <!-- MENSAJE INICIO -->
  <div class="msj_box" *ngIf="!mostrarSpinner && !mostrarMapa">
    <img src="assets/imgs/inicio_recorrido.png">
  </div>
  <!-- DISTANCIA / PRECIO -->
  <div *ngIf="mostrarPrecio">
    <p class="text_precio" text-center>
      <ion-icon name="radio-button-on" color="primary" item-start></ion-icon>
      {{viaje.distancia}}{{idioma.unidad_medida}} = {{idioma.moneda_simbolo}}{{viaje.precio}}
    </p>
  </div>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>
  <!-- DATOS DEL CHOFER -->
  <div *ngIf="mostrarDatos_chofer">
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="assets/imgs/default_chofer.png">
      </ion-avatar>
      <ion-label class="msj_size_2">
            <strong>{{idioma.pag_viaje_cliente.chofer.titulo}}</strong>
        <br><strong>{{idioma.pag_viaje_cliente.chofer.nombre}} </strong>  {{chofer.nombre}}
        <br><strong>{{idioma.pag_viaje_cliente.chofer.patente}} </strong> {{viaje.id_vehiculo}}
      </ion-label>
    </ion-item>
  </div>
  <!-- MAPA -->
   <div *ngIf="mostrarMapa" xFlex="100" class="map-full-card-content">
      <agm-map
               [latitude]="markers[0].lat"
               [longitude]="markers[0].lng"
               [zoom]="12"
               [disableDefaultUI]="true"
               [streetViewControl]="false">

               <agm-marker
                 *ngFor="let m of markers; let i = index"
                 [latitude]="m.lat"
                 [longitude]="m.lng"
                 [iconUrl]="m.icon"
                 [markerDraggable]="m.draggable">
               </agm-marker>
               <agm-direction
                 [origin]=origen_marker
                 [destination]=destino_marker
                 [renderOptions]="options">
              </agm-direction>
      </agm-map>
    </div>

  <!-- PEDIR VIAJE -->
  <ion-fab *ngIf="boton_pedir && mostrarMapa" right bottom>
      <button ion-fab color="green" (click)="pedir_viaje()">
          <ion-icon class="iconTravel" name="md-car"></ion-icon>
      </button>
  </ion-fab>

  <!-- CANCELAR PEDIDO -->
  <ion-fab *ngIf="boton_cancelar" right bottom>
      <button ion-fab color="danger" (click)="cancelar_viaje()">
          <ion-icon class="iconTravel" name="md-car"></ion-icon>
      </button>
  </ion-fab>

</ion-content>
