
<ion-content padding>

    <div *ngIf="!mostrarSpinner">

      <ion-grid class="datosPerfil">
            <!-- CORREO -->
            <ion-item>
              <ion-avatar item-end>
                <img [src]=foto_byDefault>
              </ion-avatar>
              <ion-label stacked>Correo</ion-label>
              <ion-input type="text" required disabled="true" [(ngModel)]="usuario.correo"></ion-input>
            </ion-item>
            <!-- NOMBRE -->
            <ion-item>
              <ion-label stacked>Nombre</ion-label>
              <ion-input type="text" required [disabled]="!modificar" [(ngModel)]="usuario.nombre"></ion-input>
            </ion-item>
            <!-- EDAD -->
            <ion-item>
              <ion-label stacked>Edad</ion-label>
              <ion-input type="text" required [disabled]="!modificar" [(ngModel)]="usuario.edad"></ion-input>
            </ion-item>
            <!-- DIRECCION -->
            <ion-item>
              <ion-label stacked>Dirección</ion-label>
              <ion-input type="text" required [disabled]="!modificar" [(ngModel)]="usuario.direccion"
                         (ionFocus)="abrirMapa()"></ion-input>
            </ion-item>

      </ion-grid>

      <!-- PERFIL (NO modificable)-->
      <ion-item class="perfilBox">
        <ion-label stacked>Perfil</ion-label>
        <ion-input  type="text" required disabled="true" [(ngModel)]="usuario.perfil"></ion-input>
      </ion-item>

      <!-- FOTO -->
      <ion-item>
        <button class="boton_camara" ion-fab mini color="secondary"
                (click)="cambiar_foto()" *ngIf="modificar && !vistaSupervisor">
          <ion-icon name="md-camera"></ion-icon>
        </button>
        <img class="fotoPerfil" [src]="usuario.foto">
      </ion-item>

      <!-- VISTA SUPERUSUARIO -->
      <div class="dinamicValues" *ngIf="vistaSupervisor || usuario.perfil == 'supervisor' || usuario.perfil == 'superusuario'">
        <!-- VIAJE -->
        <ion-item>
          <ion-label stacked>Viajando</ion-label>
          <ion-checkbox [(ngModel)]="usuario.viajando" disabled="true"></ion-checkbox>
        </ion-item>
        <!-- ESTADO -->
        <ion-item>
          <ion-label stacked>Activo</ion-label>
          <ion-checkbox [(ngModel)]="usuario.activo" [disabled]="!vistaSupervisor || !modificar"></ion-checkbox>
        </ion-item>
      </div>

      <!-- MODIFICAR -->
      <ion-fab class="" bottom center>
        <button ion-fab mini color="yellow" (click)="activar_modificar()">
          <ion-icon name="md-sync"></ion-icon>
        </button>
      </ion-fab>
      <!-- BORRAR -->
      <ion-fab class="" bottom right>
        <button ion-fab mini color="danger" (click)="borrar()"
                [disabled]="usuario.viajando ||
                    usuario.correo == 'cliente@kbremiseria.com' ||
                    usuario.correo == 'chofer@kbremiseria.com' ||
                    usuario.correo == 'supervisor@kbremiseria.com' ||
                    usuario.correo == 'superuser@kbremiseria.com'">

          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-fab>
      <!-- GUARDAR -->
      <ion-fab *ngIf="modificar" class="" top right>
        <button ion-fab mini color="secondary" (click)="guardar()">
          <ion-icon name="ios-folder-open"></ion-icon>
        </button>
      </ion-fab>

      <!-- VOLVER ATRAS -->
      <ion-fab *ngIf="vistaSupervisor" class="floatBack" bottom left>
        <button ion-fab mini color="primary" (click)="volver()">
          <ion-icon name="md-arrow-round-back"></ion-icon>
        </button>
      </ion-fab>

  </div>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

</ion-content>
