page-perfil {

  .datosPerfil{
    margin-top: 30px;
  }

  .dinamicValues{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .alerta_form{
    background-color: #f7d5d5;
  }

  .fotoPerfil{
    width: 130px;
    height: 150px;
  }

  .boton_camara{
    position: fixed;
    margin-top: 0;
    background-color: #8bd144;
    border-radius: 50%;
  }

  .spinner {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: rgba(#333333, 0);

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }

  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }

  // ion-item.item-md.item-input.input-has-focus .item-inner,
  // ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  // ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  //     border-bottom-color: #ffffff;
  //     box-shadow: none;
  // }
  //
  // ion-input:disabled{
  //     background-color: #ffffff;
  // }


}
