
<ion-content padding>

    <div *ngIf="!mostrarSpinner">

      <!-- MENU OPCIONES -->
      <ion-fab *ngIf="!vistaCliente" top right #fab>
        <button ion-fab mini color="primary"><ion-icon name="md-menu"></ion-icon></button>
        <ion-fab-list side="left">
          <!-- MODIFICAR -->
          <button *ngIf="!modificar" ion-fab mini color="yellow" (click)="accionMenu($event,'activar_modificar',fab)">
            <ion-icon name="md-sync"></ion-icon>
          </button>
          <button *ngIf="modificar" ion-fab mini color="dark" (click)="accionMenu($event,'activar_modificar',fab)">
            <ion-icon name="md-sync"></ion-icon>
          </button>
          <!-- GUARDAR -->
          <button *ngIf="!cambios && modificar" ion-fab mini color="second_grey" [disabled]="!cambios">
            <ion-icon name="ios-folder-open"></ion-icon>
          </button>
          <button *ngIf="cambios" ion-fab mini color="secondary" (click)="accionMenu($event,'guardar',fab)" [disabled]="!cambios">
            <ion-icon name="ios-folder-open"></ion-icon>
          </button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
          <!-- MODIFICAR CLAVE -->
          <button ion-fab mini color="green" (click)="accionMenu($event,'modificarClave',fab)"
                  *ngIf="!usuario.viajando && !vistaSupervisor &&
                      usuario.correo != 'cliente@kbremiseria.com' &&
                      usuario.correo != 'chofer@kbremiseria.com'&&
                      usuario.correo != 'supervisor@kbremiseria.com' &&
                      usuario.correo != 'superuser@kbremiseria.com'">

            <ion-icon name="md-finger-print"></ion-icon>
          </button>
          <!-- BORRAR -->
          <button ion-fab mini color="danger" (click)="accionMenu($event,'borrar',fab)"
                  *ngIf="!usuario.viajando &&
                      usuario.correo != 'cliente@kbremiseria.com' &&
                      usuario.correo != 'chofer@kbremiseria.com'&&
                      usuario.correo != 'supervisor@kbremiseria.com' &&
                      usuario.correo != 'superuser@kbremiseria.com'">

            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>

      <ion-grid class="datosPerfil">
            <!-- CORREO -->
            <form [formGroup]="registroForm" novalidate class="top-1" role="form">
              <ion-row>
                <ion-col>
                <!-- CORREO -->
                <ion-item>
                    <ion-avatar item-end>
                      <img [src]=foto_byDefault alt="...">
                    </ion-avatar>
                    <ion-label stacked>{{idioma.pag_perfil.label.correo}}</ion-label>
                    <ion-input class="input_correo" [formControl]="registroForm.controls['userEmail']" type="text" (ionChange)="hay_diferencias" [disabled]="!modificar || vistaSupervisor"></ion-input>
                    <ion-icon *ngIf="registroForm.get('userEmail').dirty && registroForm.get('userEmail').hasError('email') ||
                                     registroForm.get('userEmail').dirty && registroForm.get('userEmail').hasError('required')" color="danger" name="alert" item-right>
                    </ion-icon>
                </ion-item>
                <ion-item *ngIf="registroForm.get('userEmail').dirty && registroForm.get('userEmail').hasError('required') ||
                                     registroForm.get('userEmail').dirty && registroForm.get('userEmail').hasError('email')" class="alerta_form">
                      <p color="danger" ion-text *ngIf="registroForm.get('userEmail').hasError('required')">{{idioma.pag_perfil.error.required}}</p>
                      <p color="danger" ion-text *ngIf="registroForm.get('userEmail').hasError('email') && !registroForm.get('userEmail').hasError('required')">{{idioma.pag_perfil.error.email}}</p>
                </ion-item>

                <!-- NOMBRE -->
                <ion-item>
                    <ion-label stacked>{{idioma.pag_perfil.label.nombre}}</ion-label>
                    <ion-input class="input_nombre" [formControl]="registroForm.controls['userName']" type="text" (ionChange)="hay_diferencias" [disabled]="!modificar"></ion-input>
                    <ion-icon *ngIf="registroForm.get('userName').dirty && registroForm.get('userName').hasError('minlength') ||
                                     registroForm.get('userName').dirty && registroForm.get('userName').hasError('maxlength')" color="danger" name="alert" item-right>
                    </ion-icon>
                </ion-item>
                <ion-item *ngIf="registroForm.get('userName').dirty && registroForm.get('userName').hasError('minlength') ||
                                 registroForm.get('userName').dirty && registroForm.get('userName').hasError('maxlength')" class="alerta_form">
                      <p color="danger" ion-text *ngIf="registroForm.get('userName').dirty && registroForm.get('userName').hasError('minlength')">{{idioma.pag_perfil.error.nombre_1}}</p>
                      <p color="danger" ion-text *ngIf="registroForm.get('userName').dirty && registroForm.get('userName').hasError('maxlength')">{{idioma.pag_perfil.error.nombre_2}}</p>
                </ion-item>
                <!-- EDAD -->
                <ion-item>
                    <ion-label stacked>{{idioma.pag_perfil.label.edad}}</ion-label>
                    <ion-input class="input_edad" [formControl]="registroForm.controls['userAge']" type="number" (ionChange)="hay_diferencias" [disabled]="!modificar"></ion-input>
                    <ion-icon *ngIf="registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('min') ||
                                     registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('max')" color="danger" name="alert" item-right>
                    </ion-icon>
                </ion-item>
                <ion-item *ngIf="registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('min') ||
                                 registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('max')" class="alerta_form">
                      <p color="danger" ion-text *ngIf="registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('min')">{{idioma.pag_perfil.error.edad_1}}</p>
                      <p color="danger" ion-text *ngIf="registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('max')">{{idioma.pag_perfil.error.edad_2}}</p>
                </ion-item>

              </ion-col>
            </ion-row>
          </form>
          <!-- DIRECCION -->
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label stacked>{{idioma.pag_perfil.label.direccion}}</ion-label>
                <ion-input type="text" [disabled]="!modificar" [(ngModel)]="usuario.direccion"
                           (ionFocus)="verMapa()" (ionChange)="hay_diferencias"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
      </ion-grid>

      <!-- PERFIL (NO modificable)-->
      <ion-item class="perfilBox">
        <ion-label stacked>{{idioma.pag_perfil.label.perfil}}</ion-label>
        <ion-input  type="text" required disabled="true" [(ngModel)]="usuario.perfil"></ion-input>
      </ion-item>

      <!-- FOTO -->
      <ion-item class="fotoBox">
        <button class="boton_camara" ion-fab mini color="secondary"
                (click)="cambiar_foto()" *ngIf="modificar && !vistaSupervisor">
          <ion-icon name="md-camera"></ion-icon>
        </button>
        <img class="fotoPerfil" [src]="usuario.foto">
      </ion-item>

      <!-- VISTA SUPERUSUARIO -->
      <div class="dinamicValues" *ngIf="vistaSupervisor || usuario.perfil == 'supervisor' || usuario.perfil == 'superusuario'">
        <!-- VIAJE -->
        <ion-item>
          <ion-label stacked>{{idioma.pag_perfil.label.viajando}}</ion-label>
          <ion-checkbox [(ngModel)]="usuario.viajando" disabled="true"></ion-checkbox>
        </ion-item>
        <!-- ESTADO -->
        <ion-item>
          <ion-label stacked>{{idioma.pag_perfil.label.activo}}</ion-label>
          <ion-checkbox [(ngModel)]="usuario.activo" [disabled]="!vistaSupervisor || !modificar" (ionChange)="hay_diferencias"></ion-checkbox>
        </ion-item>
        <!-- VERIFICADO -->
        <ion-item>
          <ion-label stacked>{{idioma.pag_perfil.label.verificado}}</ion-label>
          <ion-checkbox [(ngModel)]="usuario.verificado" disabled="true"></ion-checkbox>
        </ion-item>
      </div>

      <!-- VOLVER ATRAS -->
      <ion-fab *ngIf="vistaSupervisor || vistaCliente " class="floatBack" top left>
        <button ion-fab mini color="primary" (click)="volver()">
          <ion-icon name="md-arrow-round-back"></ion-icon>
        </button>
      </ion-fab>

  </div>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

</ion-content>
