$icomoon-font-path: "fonts" !default;

$ion-mdnoun_locate_1210201: "\e900";
$ion-mdnoun_Location_787906: "\e901";
$ion-mdnoun_Location_1495944: "\e902";
$ion-mdnoun_User_47391: "\e903";
$ion-mdnoun_User_770797: "\e904";
$ion-mdnoun_User_839010: "\e905";
$ion-mdnoun_User_1829305: "\e906";
$ion-mdnoun_erase_1169215: "\e907";
$ion-mdnoun_Trash_151564: "\e908";
$ion-mdnoun_Trash_453943: "\e909";
$ion-mdnoun_Trash_568696: "\e90a";
$ion-mdnoun_hour_1163725: "\e90b";
$ion-mdnoun_Smiling-Alarm-Clock_1166597: "\e90c";
$ion-mdnoun_Time_26878: "\e90d";
$ion-mdnoun_Time_990548: "\e90e";
$ion-mdnoun_locate_1746876: "\e90f";
$ion-mdnoun_locator_1058838: "\e910";
$ion-mdnoun_map-pin_924148: "\e911";
$ion-mdnoun_Target_811669: "\e912";
$ion-mdnoun_Save_429225: "\e913";
$ion-mdnoun_Save_847854: "\e914";
$ion-mdnoun_Save_315957: "\e915";
$ion-mdnoun_Sad_350804: "\e916";
$ion-mdnoun_Sad_819738: "\e917";
$ion-mdnoun_Sad_858640: "\e918";
$ion-mdnoun_Sad_1820928: "\e919";
$ion-mdnoun_Arrow_1823888: "\e91a";
$ion-mdnoun_right_446097: "\e91b";
$ion-mdnoun_right_550163: "\e91c";
$ion-mdnoun_reload_1110710: "\e91d";
$ion-mdnoun_reload_1686799: "\e91e";
$ion-mdnoun_reload_1691436: "\e91f";
$ion-mdnoun_barcode-scanner_547392: "\e920";
$ion-mdnoun_scan_1782560: "\e921";
$ion-mdnoun_scanning_939949: "\e922";
$ion-mdnoun_Plus_1154742: "\e923";
$ion-mdnoun_Plus_1591116: "\e924";
$ion-mdnoun_Plus_1829000: "\e925";
$ion-mdnoun_Flag_1401388: "\e926";
$ion-mdnoun_Pin_577298: "\e927";
$ion-mdnoun_place_1446673: "\e928";
$ion-mdnoun_no-music_231569: "\e929";
$ion-mdnoun_Sound_796283: "\e92a";
$ion-mdnoun_Sound_920424: "\e92b";
$ion-mdnoun_Music_608798: "\e92c";
$ion-mdnoun_Sound_208568: "\e92d";
$ion-mdnoun_menu_67738: "\e92e";
$ion-mdnoun_menu_100508: "\e92f";
$ion-mdnoun_menu_1017200: "\e930";
$ion-mdnoun_menu_1119824: "\e931";
$ion-mdnoun_Exit_1680412: "\e932";
$ion-mdnoun_Log-Out_1019083: "\e933";
$ion-mdnoun_Happy_350864: "\e934";
$ion-mdnoun_Happy_819772: "\e935";
$ion-mdnoun_Happy_1691516: "\e936";
$ion-mdnoun_find_145621: "\e937";
$ion-mdnoun_find_1110925: "\e938";
$ion-mdnoun_find_1163384: "\e939";
$ion-mdnoun_File_168234: "\e93a";
$ion-mdnoun_File_926234: "\e93b";
$ion-mdnoun_File_926235: "\e93c";
$ion-mdnoun_File_1586520: "\e93d";
$ion-mdnoun_Files_1142307: "\e93e";
$ion-mdnoun_Files_1203160: "\e93f";
$ion-mdnoun_edit_1213161: "\e940";
$ion-mdnoun_edit_1826397: "\e941";
$ion-mdnoun_edit_1826615: "\e942";
$ion-mdnoun_menu_1828995: "\e943";
$ion-mdnoun_Cross_738760: "\e944";
$ion-mdnoun_Cross_888811: "\e945";
$ion-mdnoun_Cross_1328387: "\e946";
$ion-mdnoun_Car_7883: "\e947";
$ion-mdnoun_Car_1033327: "\e948";
$ion-mdnoun_Car_1195155: "\e949";
$ion-mdnoun_Car_1541170: "\e94a";
$ion-mdnoun_Car_1824135: "\e94b";
$ion-mdnoun_Classic-Car_1262098: "\e94c";
$ion-mdnoun_Camera_813918: "\e94d";
$ion-mdnoun_Camera_817262: "\e94e";
$ion-mdnoun_Camera_1133028: "\e94f";
$ion-mdnoun_bookmark_100771: "\e950";
$ion-mdnoun_bookmark_1429202: "\e951";
$ion-mdnoun_bookmark_1497833: "\e952";
$ion-mdnoun_bookmark_1604038: "\e953";
$ion-mdnoun_back_1442962: "\e954";
$ion-mdnoun_back_1442955: "\e955";
$ion-mdnoun_back_694553: "\e956";

