page-chofer-inicio-full {
  .scroll-content {
    background-image: url('../assets/imgs/inicio_chofer.gif');
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-color: black;
  }
}
