page-supervisor-registro-usuario {
  .datosPerfil{
    margin-top: 30px;
  }

  .dinamicValues{
    position: absolute;
    bottom: 25%;
    right: 0px;
  }

  .fotoPerfil{
    width: 150px;
    height: 150px;
  }

}
