$darkSlateGrey:#29202a;
$darkSalmon: #e9b78b;
$indianRed:#c46c4c;
$roseBrown: #a19f81;
$naranja:#F37129;
$darkGreenSea:#7a917a;

$verdeClaro:#E1E1E1;
$blanco:#E1E1E1; //#d8b887
$celeste:#7EA5BB; //#d53934
$mediumBlue:#03315A; //#6f4313
$peruColor:#ead8ac;
$rojoArbol:#03315A;

$marronOscuro:#000F16; //#6f4313
$azulOscuro:#974739; //#1a1714

$barBackGroundColor:#ead8ac;

$itemListFontSize:2.0rem;
$buttonFontSize:1.4rem;
$toolbarFontSize:4.0rem;


.profesional-theme {
  .header.header-md {
    border-bottom-style: solid;
    border-bottom-color: $darkSalmon;
    .toolbar-title-md {
      font-size: $toolbarFontSize;
    }
    .toolbar-title-md {
      color: $indianRed;
    }
    .toolbar-background-md {
      // background-color: $barBackGroundColor;
      background: rgb(234,216,172);
      background: -moz-linear-gradient(left, rgba(234,216,172,1) 54%, rgba(232,188,85,1) 100%);
      background: -webkit-linear-gradient(left, rgba(234,216,172,1) 54%,rgba(232,188,85,1) 100%);
      background: linear-gradient(to right, rgba(234,216,172,1) 54%,rgba(232,188,85,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ead8ac', endColorstr='#e8bc55',GradientType=1 );
    }
  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"]>.tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
  }
  .list-md .item-block .item-inner {
    // border-bottom: 1px solid #EDB319;
    border-bottom: 1px solid $darkGreenSea; //----------------------------
  }
  .button-md-primary {
    background-color: $indianRed; //-----------------------------indianRed
  }
  .item-md {
    color: $indianRed;
    font-weight: bold;
    font-size: 2.3rem;
    background-color: hsla(0, 0%, 88%, 0.808); //---------------------
  }
  .tab-button {
    background-color: $darkGreenSea;
  }
  .note-md {
    color: $darkSlateGrey;
  }
  .button-clear-md-primary {
    color: $indianRed;
  }
  .content-md {
    // background-color: $verdeClaro; //otro celeste
    // background-image: url('../assets/naif/arboleda.jpg');
    background-color: #000022;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23a19f81' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%239f9e80' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%239c9d80' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%239a9d7f' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23979c7e' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23959b7e' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23929a7d' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%2390997d' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%238d987c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%238b977c' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%2388977c' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%2386967b' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2383957b' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2381947b' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%237f937a' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%237c927a' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%237a917a' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: auto auto;
background-position: center;
    color: $rojoArbol;
    p {
      font-size: 1.7rem;
      color: $verdeClaro;
      font-weight: bold;
      b {
        color: $verdeClaro;
      }
    }
  }
  .card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: $buttonFontSize;
    background: rgba(255, 255, 255, 0.664);
    -webkit-box-shadow: 0 2px 2px 0 rgba(23, 99, 23, 0.14), 0 3px 1px -2px rgba(23, 99, 23, 0.2), 0 1px 5px 0 rgba(23, 99, 23, 0.12);
    box-shadow: 0 2px 2px 0 rgba(23, 99, 23, 0.14), 0 3px 1px -2px rgba(23, 99, 23, 0.2), 0 1px 5px 0 rgba(23, 99, 23, 0.12);
  }
  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: $azulOscuro;
  }
  .list {
    .label {
      h2 {
        color: $rojoArbol;
        font-size: $itemListFontSize;
      }
      p {
        color: $azulOscuro;
      }
    }
  }
  .alert-md .alert-radio-inner {
    background-color: $indianRed;
  }
  .alert-md [aria-checked="true"] .alert-radio-inner {
    background-color: $indianRed;
    color: $indianRed;
  }
  .toggle-md.toggle-checked .toggle-inner {
    background-color: $indianRed;
    content: "\f185"; // content: 
  }
  .select-md .select-icon .select-icon-inner {
    color: $indianRed;
  }
  /*
    Tabs configuration
  */
  .tabs-md .tab-button-icon {
    color: $rojoArbol;
    font-size: 4.0rem;
  }
  .tabs-md .tab-button {
    color: $azulOscuro;
  }
  .tabs-md .tab-button-text {
    font-size: $itemListFontSize;
  }
  .tabs-md .tab-button[aria-selected="true"] {
    color: $darkSlateGrey;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: $azulOscuro;
    -webkit-box-shadow: inset 0 -1px 0 0 $azulOscuro;
    box-shadow: inset 0 -1px 0 0 $azulOscuro;
  }
  .bar-button-primary-md,
  .bar-button-clear-md-primary,
  .bar-button-md-primary {
    color: $indianRed;
  }
  .list-md ion-item-sliding {
    background-color: hsla(0, 0%, 99%, 0.404);
  }
  .button-md {
    -webkit-border-radius: 79px;
    -moz-border-radius: 79px;
    border-radius: 79px;
    overflow: hidden;
    height: 3.6rem;
    font-size: $buttonFontSize;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.4rem 0.2rem;
    background-color: $indianRed;
  }
  .button-md:hover:not(.disable-hover){
    background-color: $darkSalmon;
  }
  /*
    Configuraci贸n de iconos
  */
  .fa-icons-general {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  .ion-md-arrow-back::before {
    @extend .fa-icons-general !optional;
    content: "\f0a5";
  }
  .ion-md-add::before {
    @extend .fa-icons-general !optional;
    content: "\f0fe";
  }
  .ion-md-home::before {
    @extend .fa-icons-general !optional;
    content: "\f015";
  }
  .ion-md-search::before {
    @extend .fa-icons-general !optional;
    content: "\f002";
  }
  .ion-md-cog::before {
    @extend .fa-icons-general !optional;
    content: "\f085";
  }
  /*
    Fondos de las paginas
  */
  .page-home {
    .scroll-content {
      background-color: $verdeClaro; //otro celeste
    //   background-image: url('../assets/naif/background02.jpg');
    }
  }

    /*
    Configuraci贸n de iconos
  */
  .fa-icons-general {
    display: inline-block;
    font: normal normal normal 30px/1 alternative-icons, FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  .ion-md-arrow-back::before {
    @extend .fa-icons-general !optional;
    content: "\e954";
    color: white;
  }
  .ion-md-add::before {
    @extend .fa-icons-general !optional;
    content: "\e923";
  }
  .ion-md-home::before {
    @extend .fa-icons-general !optional;
    content: "\f015";
  }
  .ion-md-search::before {
    @extend .fa-icons-general !optional;
    content: "\f002";
  }
  .ion-md-cog::before {
    @extend .fa-icons-general !optional;
    content: "\f085";
  }
  .ion-md-qr-scanner::before {
    @extend .fa-icons-general !optional;
    content: "\e921";
    font-size: 5.0rem;
  }
  .ion-md-close::before {
    @extend .fa-icons-general !optional;
    content: "\e944";
    // color: $rojoArbol;
  }
  .ion-md-menu::before {
    @extend .fa-icons-general !optional;
    content: "\e92e";
    // color: $rojoArbol;
  }
  .ion-md-sync::before {
    @extend .fa-icons-general !optional;
    content: "\e940";
    // color: $verdeClaro;
  }
  .ion-md-camera::before {
    @extend .fa-icons-general !optional;
    content: "\e94d";
    // color: $rojoArbol;
  }
  .ion-ios-folder-open::before {
    @extend .fa-icons-general !optional;
    content: "\e913";
    // color: $rojoArbol;
  }
  .ion-md-radio-button-on::before {
    //f261
    @extend .fa-icons-general !optional;
    content: "\f261";
    // color: $azulOscuro;
  }
  .ion-ios-arrow-forward::before {
    @extend .fa-icons-general !optional;
    content: "\f0a4";
    // color: $rojoArbol;
  }
  .ion-md-arrow-round-back::before {
    @extend .fa-icons-general !optional;
    content: "\e955";
    // color: $rojoArbol;
  }
  .ion-md-volume-off::before {
    @extend .fa-icons-general !optional;
    content: "\e929";
    // color: $rojoArbol;
  }
  .ion-md-volume-up::before {
    @extend .fa-icons-general !optional;
    content: "\e92c";
    // color: $rojoArbol;
  }
  .ion-md-log-out::before {
    @extend .fa-icons-general !optional;
    content: "\e932"; //f52b
    // color: $rojoArbol;
  }
  .ion-md-filing::before {
    @extend .fa-icons-general !optional;
    content: "\e93a";
  }
  .ion-md-bookmarks::before {
    @extend .fa-icons-general !optional;
    content: "\e950";
  }
  .ion-md-car::before {
    @extend .fa-icons-general !optional;
    content: "\f1ba";
  }
  .ion-ios-person-outline::before {
    @extend .fa-icons-general !optional;
    content: "\e903";
  }
  .ion-ios-contact::before {
    @extend .fa-icons-general !optional;
    content: "\e904";
  }
  .ion-ios-contacts::before {
    //f0c0
    @extend .fa-icons-general !optional;
    content: "\e905";
  }
  .ion-ios-people::before {
    @extend .fa-icons-general !optional;
    content: "\e906";
  }
  .ion-md-contact::before {
    @extend .fa-icons-general !optional;
    content: "\f007";
  }
  .ion-md-swap::before {
    @extend .fa-icons-general !optional;
    content: "\f0c7";
  }
  .ion-md-close-circle::before {
    @extend .fa-icons-general !optional;
    content: "\f0a5";
  }
  .ion-ios-locate-outline::before {
    @extend .fa-icons-general !optional;
    content: "\f05b";
    // color: $rojoArbol;
  }
  .ion-ios-list-box-outline::before{
    @extend .fa-icons-general !optional;
    content: "\f022";
  }
  .ion-md-sad::before{
    @extend .fa-icons-general !optional;
    content: "\e916";
  }
  .ion-md-happy::before{
    @extend .fa-icons-general !optional;
    content: "\e936";
  }
  .ion-ios-person::before{
    @extend .fa-icons-general !optional;
    content: "\f2bd";
  }
  /*
    Fuentes generales de la aplicaci贸n
  */
  $font-family-exo: Exo-Regular;
  /*
      Fuentes generales de la aplicaci贸n
    */
  ion-app.md {
    font-family: $font-family-exo, sans-serif !important;
  }
  * {
    font-family: $font-family-exo, sans-serif;
  }
  .fab{
    border-radius: 0px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .action-sheet-group{
    background-color: $peruColor !important;
    background: $peruColor !important;
  }
  .action-sheet-title{
    color:$indianRed !important;
  }
  .action-sheet-button{
    color: $indianRed !important;
  }
}
