$verdeClaro:#97c57d;
$blanco:#F2F2F2;
$celeste:#4AA2D9;
$mediumBlue:#0854cd;
$peruColor:#d29b36;
$rojoArbol:#d62922;
$marronOscuro:#794113;
$azulOscuro:#041299;
$itemListFontSize:2.0rem;
$buttonFontSize:1.4rem;
$toolbarFontSize:4.0rem;
$barBackGroundColor:hsla(39, 98%, 51%, 0.89);
.naif-theme {
  .header.header-md {
    border-bottom-style: solid;
    border-bottom-color: $barBackGroundColor;
    .toolbar-title-md {
      font-size: $toolbarFontSize;
    }
    .toolbar-title-md {
      color: $mediumBlue;
    }
    .toolbar-background-md {
      background-color: $barBackGroundColor;
    }
  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"]>.tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
  }
  .list-md .item-block .item-inner {
    // border-bottom: 1px solid #EDB319;
    border-bottom: 1px solid $blanco;
  }
  .button-md-primary {
    background-color: $rojoArbol;
  }
  .item-md {
    color: $verdeClaro;
    font-weight: bold;
    font-size: 2.3rem;
    background-color: hsla(39, 63%, 52%, 0.576);
  }
  .tab-button {
    background-color: $barBackGroundColor;
  }
  .note-md {
    color: $rojoArbol;
  }
  .button-clear-md-primary {
    color: $azulOscuro;
  }
  .content-md {
    background-color: $verdeClaro; //otro celeste
    background-image: url('../assets/naif/arboleda.jpg');
    color: $rojoArbol;
    p {
      font-size: 1.7rem;
      color: $azulOscuro;
      font-weight: bold;
      b {
        color: $rojoArbol;
      }
    }
  }
  .card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: $buttonFontSize;
    background: rgba(255, 255, 255, 0.664);
    -webkit-box-shadow: 0 2px 2px 0 rgba(23, 99, 23, 0.14), 0 3px 1px -2px rgba(23, 99, 23, 0.2), 0 1px 5px 0 rgba(23, 99, 23, 0.12);
    box-shadow: 0 2px 2px 0 rgba(23, 99, 23, 0.14), 0 3px 1px -2px rgba(23, 99, 23, 0.2), 0 1px 5px 0 rgba(23, 99, 23, 0.12);
  }
  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: $azulOscuro;
  }
  .list {
    .label {
      h2 {
        color: $rojoArbol;
        font-size: $itemListFontSize;
      }
      p {
        color: $azulOscuro;
      }
    }
  }
  .alert-md .alert-radio-inner {
    background-color: $rojoArbol;
  }
  .alert-md [aria-checked="true"] .alert-radio-inner {
    background-color: $rojoArbol;
    color: $rojoArbol;
  }
  .toggle-md.toggle-checked .toggle-inner {
    background-color: $rojoArbol;
    @extend .fa-icons-general !optional;
    content: "\f185"; // content: 
  }
  .select-md .select-icon .select-icon-inner {
    color: $rojoArbol;
  }
  /*
    Tabs configuration
  */
  .tabs-md .tab-button-icon {
    color: $rojoArbol;
    font-size: 4.0rem;
  }
  .tabs-md .tab-button {
    color: $celeste;
  }
  .tabs-md .tab-button-text {
    font-size: $itemListFontSize;
  }
  .tabs-md .tab-button[aria-selected="true"] {
    color: $rojoArbol;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: $azulOscuro;
    -webkit-box-shadow: inset 0 -1px 0 0 $azulOscuro;
    box-shadow: inset 0 -1px 0 0 $azulOscuro;
  }
  .bar-button-primary-md,
  .bar-button-clear-md-primary,
  .bar-button-md-primary {
    color: $blanco;
  }
  .list-md ion-item-sliding {
    background-color: hsla(0, 0%, 99%, 0.404);
  }
  .button-md {
    -webkit-border-radius: 79px;
    -moz-border-radius: 79px;
    border-radius: 79px;
    overflow: hidden;
    height: 3.6rem;
    font-size: $buttonFontSize;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.4rem 0.2rem;
    padding: 2em 1.1em;
    border: solid $verdeClaro 15px;
  }
  /*
    Configuración de iconos
  */
  .fa-icons-general {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  .ion-md-arrow-back::before {
    @extend .fa-icons-general !optional;
    content: "\f0a5";
  }
  .ion-md-add::before {
    @extend .fa-icons-general !optional;
    content: "\f0fe";
  }
  .ion-md-home::before {
    @extend .fa-icons-general !optional;
    content: "\f015";
  }
  .ion-md-search::before {
    @extend .fa-icons-general !optional;
    content: "\f002";
  }
  .ion-md-cog::before {
    @extend .fa-icons-general !optional;
    content: "\f085";
  }
  .ion-md-qr-scanner::before {
    @extend .fa-icons-general !optional;
    content: "\f029"
  }
  .ion-md-close::before {
    @extend .fa-icons-general !optional;
    content: "\f057";
    color: $rojoArbol;
  }
  .ion-md-menu::before {
    @extend .fa-icons-general !optional;
    content: "\f137";
    color: $rojoArbol;
  }
  .ion-md-sync::before {
    @extend .fa-icons-general !optional;
    content: "\f044";
    color: $verdeClaro;
  }
  .ion-md-camera::before {
    @extend .fa-icons-general !optional;
    content: "\f030";
    color: $rojoArbol;
  }
  .ion-ios-folder-open::before {
    @extend .fa-icons-general !optional;
    content: "\f0c7";
    color: $rojoArbol;
  }
  .ion-md-radio-button-on::before {
    //f261
    @extend .fa-icons-general !optional;
    content: "\f261";
    color: $azulOscuro;
  }
  .ion-ios-arrow-forward::before {
    @extend .fa-icons-general !optional;
    content: "\f0a4";
    color: $rojoArbol;
  }
  .ion-md-arrow-round-back::before {
    @extend .fa-icons-general !optional;
    content: "\f0a5";
    color: $rojoArbol;
  }
  .ion-md-volume-off::before {
    @extend .fa-icons-general !optional;
    content: "\f026";
    color: $rojoArbol;
  }
  .ion-md-volume-up::before {
    @extend .fa-icons-general !optional;
    content: "\f028";
    color: $rojoArbol;
  }
  .ion-md-log-out::before {
    @extend .fa-icons-general !optional;
    content: "\f057"; //f52b
    color: $rojoArbol;
  }
  .ion-md-filing::before {
    @extend .fa-icons-general !optional;
    content: "\f16c";
  }
  .ion-md-bookmarks::before {
    @extend .fa-icons-general !optional;
    content: "\f02d";
  }
  .ion-md-car::before {
    @extend .fa-icons-general !optional;
    content: "\f1ba";
  }
  .ion-ios-person-outline::before {
    @extend .fa-icons-general !optional;
    content: "\f2bd";
  }
  .ion-ios-contact::before {
    @extend .fa-icons-general !optional;
    content: "\f007";
  }
  .ion-ios-contacts::before {
    //f0c0
    @extend .fa-icons-general !optional;
    content: "\f0c0";
  }
  .ion-ios-people::before {
    @extend .fa-icons-general !optional;
    content: "\f281";
  }
  .ion-md-contact::before {
    @extend .fa-icons-general !optional;
    content: "\f007";
  }
  .ion-md-swap::before {
    @extend .fa-icons-general !optional;
    content: "\f0c7";
  }
  .ion-md-close-circle::before {
    @extend .fa-icons-general !optional;
    content: "\f0a5";
  }
  .ion-ios-locate-outline::before {
    @extend .fa-icons-general !optional;
    content: "\f05b";
    color: $rojoArbol;
  }
  .ion-ios-list-box-outline::before{
    @extend .fa-icons-general !optional;
    content: "\f022";
  }
  .ion-md-sad::before{
    @extend .fa-icons-general !optional;
    content: "\f119";
  }
  .ion-md-happy::before{
    @extend .fa-icons-general !optional;
    content: "\f118";
  }
  .ion-ios-person::before{
    @extend .fa-icons-general !optional;
    content: "\f2bd";
  }
  .buttonSearch {
    border: 0px;
  }
  .fab {
    border-radius: 0px;
    -webkit-clip-path: polygon(0% 15%, 23% 23%, 15% 0%, 85% 0%, 72% 24%, 100% 15%, 100% 85%, 74% 76%, 85% 100%, 15% 100%, 21% 78%, 0% 85%);
    clip-path: polygon(0% 15%, 23% 23%, 15% 0%, 85% 0%, 72% 24%, 100% 15%, 100% 85%, 74% 76%, 85% 100%, 15% 100%, 21% 78%, 0% 85%);
  }
  /*
    Fondos de las paginas
  */
  .page-home {
    .scroll-content {
      background-color: $verdeClaro; //otro celeste
      background-image: url('../assets/naif/background02.jpg');
    }
  }
  /*
    Fuentes generales de la aplicación
  */
  ion-app.md {
    font-family: DenkOne-Regular, sans-serif !important;
    font-size: 2rem;
  }
  * {
    font-family: DenkOne-Regular, sans-serif;
  }
  .action-sheet-group{
    background-color: hsla(39, 63%, 52%, 0.904) !important;
    background: hsla(39, 63%, 52%, 0.904) !important;
  }
  .action-sheet-title{
    color:$azulOscuro !important;
  }
  .action-sheet-button{
    color:$rojoArbol !important;
  }

}

