//1763A6  23-99-23 azul más oscuro
//4AA2D9  74-162-217 celeste
//8FBADC  143-186-220  celeste claro
//EDB319  237-179-25 amarillo
//F2F2F2  242-242-242 blanco
$selesteSuperClaro:#D0E4F5;
$blancoBander:#F2F2F2;
$borderColor:rgb(238, 225, 107);
$amarilloSol:#EDB319;
$azulBanderaOscuro:#1763A6;
$celesteClaro:#8FBADC;
$celeste:#4AA2D9;
.argentina-theme {
  .toolbar-title {
    font-size: 4.0rem;
  }
  .toolbar-title-md {
    color: $blancoBander;
  }
  .toolbar-background-md {
    background-color: $celesteClaro;
  }
  .header {
    border-bottom-style: solid;
    border-bottom-color: $borderColor;
  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"]>.tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
  }
  .list-md .item-block .item-inner {
    // border-bottom: 1px solid #EDB319;
    border-bottom: 1px solid $blancoBander;
  }
  .button-md-primary {
    background-color: $amarilloSol;
  }
  .item-md {
    color: $blancoBander;
    font-weight: bold;
    background-color: $celesteClaro;
  }
  .note-md {
    color: $amarilloSol;
  }
  .button-clear-md-primary {
    color: $azulBanderaOscuro;
  }
  .content-md {
    background-color: $selesteSuperClaro; //otro celeste
    background-image: url('../assets/argentina/back01.jpg');
  }
  .faYellow {
    color: $azulBanderaOscuro;
  }
  .card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: $blancoBander;
    -webkit-box-shadow: 0 2px 2px 0 rgba(23, 99, 23, 0.14), 0 3px 1px -2px rgba(23, 99, 23, 0.2), 0 1px 5px 0 rgba(23, 99, 23, 0.12);
    box-shadow: 0 2px 2px 0 rgba(23, 99, 23, 0.14), 0 3px 1px -2px rgba(23, 99, 23, 0.2), 0 1px 5px 0 rgba(23, 99, 23, 0.12);
  }
  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: $azulBanderaOscuro;
  }
  .list {
    .label {
      h2 {
        color: $azulBanderaOscuro;
      }
      p {
        color: $blancoBander;
      }
    }
  }
  .alert-md .alert-radio-inner {
    background-color: $amarilloSol;
  }
  .alert-md [aria-checked="true"] .alert-radio-inner {
    background-color: $amarilloSol;
    color: $amarilloSol;
  }
  .toggle-md.toggle-checked .toggle-inner {
    background-color: $amarilloSol;
    content: "\f185"; // content: 
  }
  .select-md .select-icon .select-icon-inner {
    color: $amarilloSol;
  }
  .tabs-md .tab-button-icon {
    color: $amarilloSol;
  }
  .tabs-md .tab-button {
    color: $celeste;
  }
  .tabs-md .tab-button[aria-selected="true"] {
    color: $amarilloSol;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: $azulBanderaOscuro;
    -webkit-box-shadow: inset 0 -1px 0 0 $azulBanderaOscuro;
    box-shadow: inset 0 -1px 0 0 $azulBanderaOscuro;
  }
  /*
    Configuración de iconos
  */
  .fa-icons-general {
    display: inline-block;
    font: normal normal normal 30px/1 alternative-icons, FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  .ion-md-arrow-back::before {
    @extend .fa-icons-general !optional;
    content: "\e954";
    color: white;
  }
  .ion-md-add::before {
    @extend .fa-icons-general !optional;
    content: "\e923";
  }
  .ion-md-home::before {
    @extend .fa-icons-general !optional;
    content: "\f015";
  }
  .ion-md-search::before {
    @extend .fa-icons-general !optional;
    content: "\f002";
  }
  .ion-md-cog::before {
    @extend .fa-icons-general !optional;
    content: "\f085";
  }
  .ion-md-qr-scanner::before {
    @extend .fa-icons-general !optional;
    content: "\e921";
    font-size: 5.0rem;
  }
  .ion-md-close::before {
    @extend .fa-icons-general !optional;
    content: "\e944";
    // color: $rojoArbol;
  }
  .ion-md-menu::before {
    @extend .fa-icons-general !optional;
    content: "\e92e";
    // color: $rojoArbol;
  }
  .ion-md-sync::before {
    @extend .fa-icons-general !optional;
    content: "\e940";
    // color: $verdeClaro;
  }
  .ion-md-camera::before {
    @extend .fa-icons-general !optional;
    content: "\e94d";
    // color: $rojoArbol;
  }
  .ion-ios-folder-open::before {
    @extend .fa-icons-general !optional;
    content: "\e913";
    // color: $rojoArbol;
  }
  .ion-md-radio-button-on::before {
    //f261
    @extend .fa-icons-general !optional;
    content: "\f261";
    // color: $azulOscuro;
  }
  .ion-ios-arrow-forward::before {
    @extend .fa-icons-general !optional;
    content: "\f0a4";
    // color: $rojoArbol;
  }
  .ion-md-arrow-round-back::before {
    @extend .fa-icons-general !optional;
    content: "\e955";
    // color: $rojoArbol;
  }
  .ion-md-volume-off::before {
    @extend .fa-icons-general !optional;
    content: "\e929";
    // color: $rojoArbol;
  }
  .ion-md-volume-up::before {
    @extend .fa-icons-general !optional;
    content: "\e92c";
    // color: $rojoArbol;
  }
  .ion-md-log-out::before {
    @extend .fa-icons-general !optional;
    content: "\e932"; //f52b
    // color: $rojoArbol;
  }
  .ion-md-filing::before {
    @extend .fa-icons-general !optional;
    content: "\e93a";
  }
  .ion-md-bookmarks::before {
    @extend .fa-icons-general !optional;
    content: "\e950";
  }
  .ion-md-car::before {
    @extend .fa-icons-general !optional;
    content: "\f1ba";
  }
  .ion-ios-person-outline::before {
    @extend .fa-icons-general !optional;
    content: "\e903";
  }
  .ion-ios-contact::before {
    @extend .fa-icons-general !optional;
    content: "\e904";
  }
  .ion-ios-contacts::before {
    //f0c0
    @extend .fa-icons-general !optional;
    content: "\e905";
  }
  .ion-ios-people::before {
    @extend .fa-icons-general !optional;
    content: "\e906";
  }
  .ion-md-contact::before {
    @extend .fa-icons-general !optional;
    content: "\f007";
  }
  .ion-md-swap::before {
    @extend .fa-icons-general !optional;
    content: "\f0c7";
  }
  .ion-md-close-circle::before {
    @extend .fa-icons-general !optional;
    content: "\f0a5";
  }
  .ion-ios-locate-outline::before {
    @extend .fa-icons-general !optional;
    content: "\f05b";
    // color: $rojoArbol;
  }
  .ion-ios-list-box-outline::before{
    @extend .fa-icons-general !optional;
    content: "\f022";
  }
  .ion-md-sad::before{
    @extend .fa-icons-general !optional;
    content: "\e916";
  }
  .ion-md-happy::before{
    @extend .fa-icons-general !optional;
    content: "\e936";
  }
  .ion-ios-person::before{
    @extend .fa-icons-general !optional;
    content: "\f2bd";
  }

    /*
    Fondos de las paginas
  */
  .page-back02 {
    .scroll-content {
      background-image: url('../assets/argentina/obelisco.jpg');
    }
  }
  .page-back03 {
    .scroll-content {
      background-image: url('../assets/argentina/glaciares.jpg');
    }
  }
  .page-back04 {
    .scroll-content {
      background-image: url('../assets/argentina/cerros.jpg');
    }
  }

  $font-family-oleo: Oleo-Regular;
  /*
        Fuentes generales de la aplicación
      */
  ion-app.md {
    font-family: $font-family-oleo, sans-serif !important;
  }
  * {
    font-family: $font-family-oleo, sans-serif;
  }
  .fab {
    border-radius: 0px;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  .button-md{
      -webkit-clip-path: polygon(9% 16%, 0 0, 18% 7%, 79% 7%, 100% 0, 92% 16%, 93% 84%, 100% 100%, 87% 94%, 15% 94%, 0 100%, 6% 89%);
  clip-path: polygon(9% 16%, 0 0, 18% 7%, 79% 7%, 100% 0, 92% 16%, 93% 84%, 100% 100%, 87% 94%, 15% 94%, 0 100%, 6% 89%);
  }
  .action-sheet-group{
    background-color: $celesteClaro !important;
    background: $celesteClaro !important;
  }
  .action-sheet-title{
    color:$azulBanderaOscuro !important;
  }
  .action-sheet-button{
    color: $blancoBander !important;
  }

}
