<!-- SPINNER -->
<div *ngIf="mostrarSplash" class="splashScreen">
  <div class="spinner">
    <div class="double-bounce1"><img src="assets/imgs/logoPersonal.png" alt="login imagen"></div>
    <div class="double-bounce2"><img src="assets/imgs/logoPersonal.png" alt="login imagen"></div>
  </div>
</div>

<!-- MENU -->
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title text-center>{{idioma.pag_menu.titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list class="box_list">

        <!-- SESION ACTUAL -->
        <div class="box_userEmail">
          <ion-label text-center *ngIf="auth.get_userEmail()"><strong>{{idioma.pag_menu.label}}</strong> {{auth.get_userEmail()}}</ion-label>
        </div>

        <!-- OPCIONES MENU -->
        <div *ngFor="let p of pagesApp">
          <button menuClose ion-item *ngIf="p.visibility" (click)="openPage(p)">
            {{p.title}}
          </button>
        </div>
        <!-- IDIOMA -->
        <div class="box_config" (click)="config()">
          <ion-icon id="config_icon" name="md-cog" item-left></ion-icon>
        </div>
        <!-- SONIDO -->
        <div class="box_sound" *ngIf="sound" (click)="sonido()">
          <ion-icon id="sound_icon" name="md-volume-up" item-left></ion-icon>
        </div>
        <div class="box_sound" *ngIf="!sound" (click)="sonido()">
          <ion-icon id="sound_icon" name="md-volume-off" item-left></ion-icon>
        </div>
        <div class="box_empty">

        </div>
        <!-- BOTON LOGOUT -->
        <div class="box_logOut">
          <ion-icon (click)="logout()" *ngIf="auth.authenticated" class="iconLogOut" name="md-log-out"></ion-icon>
        </div>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- CONTENIDO -->
<ion-nav [root]="rootPage" #content></ion-nav>
