
<ion-content padding>
  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="main_content" *ngIf="!mostrarSpinner">

    <!-- FORMULARIO -->
    <div class="formulario">
        <ion-item no-lines>
          <ion-label class="lbl_titulo">{{texto.titulo}}</ion-label>
          <ion-avatar item-end>
            <img src="assets/imgs/encuesta_default.png">
          </ion-avatar>
        </ion-item>

        <!-- PREGUNTA 1: calidad del servicio -->
        <ion-item no-lines class="item_pregunta">
          <ion-label stacked>{{texto.preguntas.p_1.p}}</ion-label>
              <ion-select [(ngModel)]="encuesta.pregunta_1" interface="popover" (ionChange)="hay_diferencias">
                <ion-option [value]=1>{{texto.preguntas.p_1.op[1]}}</ion-option>
                <ion-option [value]=2>{{texto.preguntas.p_1.op[2]}}</ion-option>
                <ion-option [value]=3>{{texto.preguntas.p_1.op[3]}}</ion-option>
                <ion-option [value]=4>{{texto.preguntas.p_1.op[4]}}</ion-option>
                <ion-option [value]=5>{{texto.preguntas.p_1.op[5]}}</ion-option>
              </ion-select>
        </ion-item>

        <!-- PREGUNTA 2: sobre el chofer -->
        <ion-item no-lines class="item_pregunta">
        <ion-label stacked>{{texto.preguntas.p_2.p}}</ion-label>
          <ion-range min="0" max="5" step="1" pin="true" [(ngModel)]="encuesta.pregunta_2" (ionChange)="hay_diferencias">
            <ion-icon range-left small name="md-sad"></ion-icon>
            <ion-icon range-right name="md-happy"></ion-icon>
          </ion-range>
        </ion-item>
        <!-- PREGUNTA 3: sobre el vehículo -->
        <ion-item no-lines class="item_pregunta">
        <ion-label stacked>{{texto.preguntas.p_3.p}}</ion-label>
        </ion-item>
        <ion-list radio-group [(ngModel)]="encuesta.pregunta_3" (ionChange)="hay_diferencias">
            <ion-item>
              <ion-label>{{texto.preguntas.p_3.op[1]}}</ion-label>
              <ion-radio value=1></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{texto.preguntas.p_3.op[2]}}</ion-label>
              <ion-radio value=2></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{texto.preguntas.p_3.op[3]}}</ion-label>
              <ion-radio value=3></ion-radio>
            </ion-item>
        </ion-list>
        <!-- PREGUNTA 4: sobre la ruta -->
        <ion-item no-lines class="item_pregunta">
        <ion-label stacked>{{texto.preguntas.p_4.p}}</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="encuesta.pregunta_4" item-end (ionChange)="hay_diferencias"></ion-checkbox>
        </ion-item>
        <!-- PREGUNTA 5: comentario -->
        <ion-item no-lines class="item_pregunta">
        <ion-label stacked>{{texto.preguntas.p_5.p}}</ion-label>
          <ion-input type="text" maxlength="140" [(ngModel)]="encuesta.pregunta_5" (ionChange)="hay_diferencias"></ion-input>
        </ion-item>

        <!-- FOTO -->
        <ion-item no-lines class="fotoBox">
            <button class="boton_camara" ion-fab mini color="secondary" [disabled]="this.chofer == null"
                    (click)="cambiar_foto()">
              <ion-icon name="md-camera"></ion-icon>
            </button>
            <img class="fotoPerfil" [src]=encuesta.foto>
        </ion-item>

        <!-- BOTONERA -->
        <ion-row>
          <!-- CANCELAR -->
          <ion-col>
            <button class="boton" ion-button block color="danger" (click)="cancelar()"
             [disabled]="this.chofer == null">
              <ion-icon name="md-close-circle"></ion-icon>
            </button>
          </ion-col>
          <!-- GUARDAR -->
          <ion-col>
            <button class="boton" ion-button block color="secondary" (click)="guardar()" 
            [disabled]="!cambios || this.chofer == null">
              <ion-icon name="ios-folder-open"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </div>

  </div>
</ion-content>

