<ion-header>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="historial">
      <ion-segment-button value="viajes">
        Viajes
      </ion-segment-button>
      <ion-segment-button value="reservas">
        Reservas
      </ion-segment-button>
      <ion-segment-button value="encuestas">
        Encuestas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

  <div class="main" *ngIf="!mostrarSpinner">
    <!-- MANEJO DEL CONTENIDO -->
    <div [ngSwitch]="historial">

      <!-- VIAJES -->
      <ion-list *ngSwitchCase="'viajes'">
        <ion-item-sliding *ngFor="let viaje of viajes; index as i;">
          <ion-item (click)="verViaje(i)">
              <ion-icon name="md-car" color="primary" item-start></ion-icon>
              {{viaje.fecha }} || ${{viaje.precio }}
          </ion-item>

        </ion-item-sliding>
      </ion-list>

      <!-- RESERVAS -->
      <ion-list *ngSwitchCase="'reservas'">
        <ion-item-sliding *ngFor="let item of reservas; index as i;">
          <ion-item (click)="verReserva(i)">
              <ion-icon name="md-folder" color="primary" item-start></ion-icon>
              {{item.reserva.fecha }}
          </ion-item>

        </ion-item-sliding>
      </ion-list>

      <!-- ENCUESTAS -->
      <ion-list *ngSwitchCase="'encuestas'">
        <ion-item-sliding *ngFor="let encuesta of encuestas; index as i;">
          <ion-item (click)="verEncuesta(i)">
              <ion-icon name="ios-list-box-outline" color="primary" item-start></ion-icon>
              {{encuesta.fecha }}
          </ion-item>

        </ion-item-sliding>
      </ion-list>

      <!-- VISTA POR DEFAULT -->
      <div *ngSwitchDefault>
        <img id="historial_logo" src="assets/imgs/encuesta_default.png" alt="">
      </div>

    </div>
  </div>

</ion-content>
