
<ion-header>

  <ion-navbar>
    <ion-title text-center>{{idioma.pag_reservas_cliente.titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of reservas; index as i;">
      <ion-item (click)="verReserva(i)">
          <ion-label>{{item.reserva.destino}}</ion-label>
          <ion-label>{{item.reserva.fecha }} {{item.reserva.hora}}</ion-label>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="eliminarReserva(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="reservas.length == 0">
    <img id="lista_vacia" src="assets/imgs/auto_void.png" alt="void">
  </div>
  <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="nuevaReserva()">
          <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>

</ion-content>
