<ion-content padding>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

  <!-- DATOS -->
  <div *ngIf="!mostrarSpinner">
    <ion-item>
      <ion-label text-center class="label">
        <ion-icon class="icon" name="ios-person"></ion-icon>
        Reputación
      </ion-label>
    </ion-item>
    <div *ngIf="encuestas_al_chofer.length != 0" class="graphic_box">
      <!-- GRAFICO -->
        <canvas class="graphic" baseChart
          height="100"
          width="100"
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType">
        </canvas>
    </div>
    <div *ngIf="encuestas_al_chofer.length == 0">
      <img id="lista_vacia" src="assets/imgs/auto_void.png" alt="void">
    </div>
  </div>


</ion-content>
