<ion-content padding>

    <div *ngIf="!mostrarSpinner">

      <!-- INFORMACION A COMPLETAR -->
      <ion-grid class="datosPerfil">
        <form [formGroup]="registroForm" novalidate class="top-1">
          <ion-row>
            <ion-col>
            <!-- CORREO -->
            <ion-item>
                <ion-avatar item-end>
                  <img [src]=usuario.foto alt="...">
                </ion-avatar>
                <ion-label stacked>{{idioma.pag_perfil.label.correo}}</ion-label>
                <ion-input formControlName="userCorreo" type="text"></ion-input>
                <ion-icon *ngIf="registroForm.get('userCorreo').dirty && registroForm.get('userCorreo').hasError('email') ||
                                 registroForm.get('userCorreo').dirty && registroForm.get('userCorreo').hasError('required')" color="danger" name="alert" item-right>
                </ion-icon>
            </ion-item>
            <ion-item *ngIf="registroForm.get('userCorreo').dirty && registroForm.get('userCorreo').hasError('required') ||
                                 registroForm.get('userCorreo').dirty && registroForm.get('userCorreo').hasError('email')" class="alerta_form">
                  <p color="danger" ion-text *ngIf="registroForm.get('userCorreo').hasError('required')">{{idioma.pag_perfil.error.required}}</p>
                  <p color="danger" ion-text *ngIf="registroForm.get('userCorreo').hasError('email') && !registroForm.get('userCorreo').hasError('required')">{{idioma.pag_perfil.error.email}}</p>
            </ion-item>

            <!-- NOMBRE -->
            <ion-item>
                <ion-label stacked>{{idioma.pag_perfil.label.nombre}}</ion-label>
                <ion-input formControlName="userName" type="text"></ion-input>
                <ion-icon *ngIf="registroForm.get('userName').dirty && registroForm.get('userName').hasError('minlength') ||
                                 registroForm.get('userName').dirty && registroForm.get('userName').hasError('maxlength')" color="danger" name="alert" item-right>
                </ion-icon>
            </ion-item>
            <ion-item *ngIf="registroForm.get('userName').dirty && registroForm.get('userName').hasError('minlength') ||
                             registroForm.get('userName').dirty && registroForm.get('userName').hasError('maxlength')" class="alerta_form">
                  <p color="danger" ion-text *ngIf="registroForm.get('userName').dirty && registroForm.get('userName').hasError('minlength')">{{idioma.pag_perfil.error.nombre_1}}</p>
                  <p color="danger" ion-text *ngIf="registroForm.get('userName').dirty && registroForm.get('userName').hasError('maxlength')">{{idioma.pag_perfil.error.nombre_2}}</p>
            </ion-item>
            <!-- EDAD -->
            <ion-item>
                <ion-label stacked>{{idioma.pag_perfil.label.edad}}</ion-label>
                <ion-input formControlName="userAge" type="number"></ion-input>
                <ion-icon *ngIf="registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('min') ||
                                 registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('max')" color="danger" name="alert" item-right>
                </ion-icon>
            </ion-item>
            <ion-item *ngIf="registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('min') ||
                             registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('max')" class="alerta_form">
                  <p color="danger" ion-text *ngIf="registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('min')">{{idioma.pag_perfil.error.edad_1}}</p>
                  <p color="danger" ion-text *ngIf="registroForm.get('userAge').dirty && registroForm.get('userAge').hasError('max')">{{idioma.pag_perfil.error.edad_2}}</p>
            </ion-item>

          </ion-col>
        </ion-row>
      </form>
        <ion-row>
          <ion-col>
            <!-- DIRECCION -->
            <ion-item>
              <ion-label stacked>{{idioma.pag_perfil.label.direccion}}</ion-label>
              <ion-input type="text" [(ngModel)]="usuario.direccion"
                         (ionFocus)="verMapa()"></ion-input>
            </ion-item>
            <!-- PERFIL -->
            <ion-item class="perfilBox">
              <ion-label>{{idioma.pag_perfil.label.perfil}}</ion-label>
              <ion-input  type="text" required disabled="true" [(ngModel)]="usuario.perfil"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- FOTO -->
      <ion-item>
        <img class="fotoPerfil" [src]="usuario.foto" alt="...">
      </ion-item>

      <!-- VISTA SUPERUSUARIO -->
      <div class="dinamicValues">
        <!-- VIAJE -->
        <ion-item>
          <ion-label stacked>{{idioma.pag_perfil.label.viajando}}</ion-label>
          <ion-checkbox [(ngModel)]="usuario.viajando" disabled="true"></ion-checkbox>
        </ion-item>
        <!-- ESTADO -->
        <ion-item>
          <ion-label stacked>{{idioma.pag_perfil.label.activo}}</ion-label>
          <ion-checkbox [(ngModel)]="usuario.activo"></ion-checkbox>
        </ion-item>
        <!-- VERIFICADO -->
        <ion-item>
          <ion-label stacked>{{idioma.pag_perfil.label.verificado}}</ion-label>
          <ion-checkbox [(ngModel)]="usuario.verificado" disabled="true"></ion-checkbox>
        </ion-item>
      </div>

      <!-- GUARDAR -->
      <ion-fab class="" top right>
        <button ion-fab mini (click)="guardar()" color="secondary" [disabled]="registroForm.invalid">
          <ion-icon name="ios-folder-open"></ion-icon>
        </button>
      </ion-fab>

      <!-- VOLVER ATRAS -->
      <ion-fab class="floatBack" top left>
        <button ion-fab mini color="primary" (click)="volver()">
          <ion-icon name="md-arrow-round-back"></ion-icon>
        </button>
      </ion-fab>

  </div>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

</ion-content>
