<ion-content padding>

    <div *ngIf="!mostrarSpinner">

      <!-- INFORMACION A COMPLETAR -->
      <ion-grid class="datosPerfil">
            <!-- CORREO -->
            <ion-item>
              <ion-avatar item-end>
                <img [src]=usuario.foto alt="...">
              </ion-avatar>
              <ion-label stacked>Correo</ion-label>
              <ion-input type="text" required [(ngModel)]="usuario.correo" (ionChange)="hay_diferencias"></ion-input>
            </ion-item>
            <!-- NOMBRE -->
            <ion-item>
              <ion-label stacked>Nombre</ion-label>
              <ion-input type="text" [(ngModel)]="usuario.nombre" (ionChange)="hay_diferencias"></ion-input>
            </ion-item>
            <!-- EDAD -->
            <ion-item>
              <ion-label stacked>Edad</ion-label>
              <ion-input type="text" [(ngModel)]="usuario.edad" (ionChange)="hay_diferencias"></ion-input>
            </ion-item>
            <!-- DIRECCION -->
            <ion-item>
              <ion-label stacked>Dirección</ion-label>
              <ion-input type="text" [(ngModel)]="usuario.direccion"
                         (ionFocus)="verMapa()" (ionChange)="hay_diferencias"></ion-input>
            </ion-item>
            <!-- PERFIL -->
            <ion-item class="perfilBox">
              <ion-label>Perfil</ion-label>
              <ion-input  type="text" required disabled="true" [(ngModel)]="usuario.perfil" (ionChange)="hay_diferencias"></ion-input>
            </ion-item>

      </ion-grid>

      <!-- FOTO -->
      <ion-item>
        <img class="fotoPerfil" [src]="usuario.foto" alt="...">
      </ion-item>

      <!-- VISTA SUPERUSUARIO -->
      <div class="dinamicValues">
        <!-- VIAJE -->
        <ion-item>
          <ion-label stacked>Viajando</ion-label>
          <ion-checkbox [(ngModel)]="usuario.viajando" disabled="true"></ion-checkbox>
        </ion-item>
        <!-- ESTADO -->
        <ion-item>
          <ion-label stacked>Activo</ion-label>
          <ion-checkbox [(ngModel)]="usuario.activo" (ionChange)="hay_diferencias"></ion-checkbox>
        </ion-item>
      </div>

      <!-- GUARDAR -->
      <ion-fab class="" bottom right>
        <button ion-fab mini color="secondary" (click)="guardar()" [disabled]="!cambios">
          <ion-icon name="ios-folder-open"></ion-icon>
        </button>
      </ion-fab>

      <!-- VOLVER ATRAS -->
      <ion-fab class="floatBack" top left *ngIf="from_lista">
        <button ion-fab mini color="primary" (click)="volver()">
          <ion-icon name="md-arrow-round-back"></ion-icon>
        </button>
      </ion-fab>

  </div>

  <!-- SPINNER -->
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

</ion-content>
