page-supervisor-registro-cliente {
  .datosPerfil{
    margin-top: 30px;
  }

  .dinamicValues{
    position: absolute;
    bottom: 25%;
    right: 0px;
  }

  .fotoPerfil{
    width: 150px;
    height: 150px;
  }

  .perfilBox{
    margin-top: 10px;
    background-color: #d8dfdf;
    border-radius: 4px;
    text-shadow: 1px 1px #000000;
  }


}
